[2013-03-13 23:18] hryamzik opened #1 "Doesn't work on 64bit python"
/simple-ocr-opencv/clustering.py:45: RuntimeWarning: invalid value encountered in divide
  return min(tmp) / max_intra_distance
Traceback (most recent call last):
  File "example.py", line 15, in <module>
    test_classes, test_segments= ocr.ocr( test_image, show_steps=True )
  File "/simple-ocr-opencv/ocr.py", line 40, in ocr
    segments= self.segmenter.process( image_file.image )
  File "/simpl

[2013-03-20 17:06] timprepscius opened #2 "how to"
This is a really interesting project.

Is there a best way to create the grounding for an image file?

I did this:

<pre>

git diff
diff --git a/classification.py b/classification.py
index a87a802..08585fc 100644
--- a/classification.py
+++ b/classification.py
@@ -14,7 +14,7 @@ def classes_to_numpy( classes ):
     #utf-32 starts with constant ''\xff\xfe\x00\x00', then has little endian 32 bits ch

[2013-03-20 22:12] #2 closed, assigned to nobody

[2013-03-21 20:18] #1 closed, assigned to nobody

[2013-04-08 13:48] RecklessCoding opened #3 "ValueError: Input object to FillWithScalar is not a scalar"
Hello,

First of all great project, really educational and thank you for sharing.

When I run the example.py file through my Terminal (OS X 10.7, Python 2.7.3) I get the following error, only after I press ANY key on the screen with the Pi number:

[code]

I would appreciate any help, as I am still a Python newbie...

[2013-04-09 20:35] #3 closed, assigned to nobody

[2014-04-08 20:24] putsi opened #5 "Create better readme"
Create README that helps non-experienced python users to understand how to use the program. Example.py doesn't show how to use custom images and how to "box" them.

[2014-04-12 23:14] #5 closed, assigned to nobody

[2015-10-22 20:18] jakeboydston commented on #2
**Hello. I do not understand how to ground a file. I have tried tweaking the code to create segments but cannot do so. I've tried to use the UserGrounding feature because I thought it would be easier. My code looks like this:**

testpicture = ImageFile(r"\Users\a0225242\Desktop\words.jpg")
testclass, testsegment = ocr.ocr(testpicture,show_steps=True)
Jake = UserGrounder()
Jake.ground(testpicture,t

[2015-10-22 21:48] goncalopp commented on #2
@ jakeboydston That's interesting. I think you're on the right track - I'm not that sure ImageFile takes a path like that, but if it didn't complain it should be ok. Did the segmentation succeed? (you should see rectangles around your characters, IIRC).
Can you post the full stack trace and the `words.jpg` file (or something equivalent that triggers it)?

[2015-10-27 13:31] JoeTurtle commented on #2
Hi there,
@goncalopp thanks for sharing this project. I've been playing around with it and just ran into something that's not really clear to me.
Could you please explain what the arguments (passed  to ContourSegmenter() and SimpleFeatureExtractor()) stand for?
```segmenter=  ContourSegmenter( blur_y=5, blur_x=5, block_size=11, c=10) ```
```extractor=  SimpleFeatureExtractor( feature_size=10, stre

[2015-10-27 19:06] goncalopp commented on #2
Hi JoeTurtle,

The pipeline architecture makes following the parameters harder than it
should be, but it's quite simple, actually.

As you see on `segmentation.py`:

     class ContourSegmenter( FullSegmenter ):
         def __init__(self, **args):
             filters= create_default_filter_stack()
             stack = [BlurProcessor(), RawContourSegmenter()] + filters
+ [SegmentOrderer()]

`|blu

[2015-10-27 19:13] goncalopp commented on #2
Hi JoeTurtle,

The pipeline architecture makes following the parameters harder than it
should be, but it's quite simple, actually.

As you see on `segmentation.py`:

     class ContourSegmenter( FullSegmenter ):
         def __init__(self, **args):
             filters= create_default_filter_stack()
             stack = [BlurProcessor(), RawContourSegmenter()] + filters
+ [SegmentOrderer()]

`|blu

[2015-12-05 21:55] dee-see opened #6 "OpenCV 3.0"
I've just forked this repo and I'm migrating it to OpenCV 3 as I hit breaking changes. Are you interested in pull requests for an OpenCV 3 branch?

[2015-12-06 20:54] goncalopp commented on #6
I'm not very familiar with OpenCV 3, is it going to be the default any soon? Would it be easy to maintain compatibility with both versions? If not, I think keeping a separate branch would be appropriate, and I'm happy to accept pull requests

[2015-12-06 20:59] dee-see commented on #6
I'm completely new to the world of OpenCV and I started working with 3.0 just because it's the latest version. From what I've read they're in some sort of python 2.7 vs 3 situation where the body of work in 2.4 is too large to migrate overnight with all the breaking changes.

Alright, I'll work on my OpenCV 3 branch and send pull request once it starts feeling a little more complete! Thanks

[2015-12-06 20:59] #6 closed

[2016-03-17 18:02] sethuraman81 opened #8 "Opencv"
Hello,

I tried to use this repository however getting an error

TypeError: only length-1 arrays can be converted to Python scalars

 self.classifier.train( features, image_file.ground.classes )
 File simple-ocr-opencv-master\classification.py", line 56, in train

i am using Python 2.7
Opencv 3.1.0 and
numpy version 1.9.1

am faily new to python and opencv, any suggestions or pointers is much appr

[2016-03-17 20:01] goncalopp commented on #8
Hi,
This is written for OpenCV 2. heatz contributed some changes for opencv 3, can you check the opencv3 branch and let me know if it works for you?

[2016-03-22 21:13] goncalopp commented on #8
Did this work for you?

[2016-03-23 10:35] sethuraman81 commented on #8
HI,

Yes it does work, Thanks for the message it went in to my emails-forums tab and didn't notice earlier

[2016-03-23 10:35] #8 closed

[2016-03-25 04:30] guoyonggang178 opened #9 "opencv3.0 the cv2 no this method"
File "/Users/telescopeman/project/simple-ocr-opencv/classification.py", line 47, in __init__
    self.knn= cv2.KNearest()
AttributeError: 'module' object has no attribute 'KNearest'

[2016-03-26 00:27] goncalopp commented on #9
Did you try the opencv3 branch?

On 25/03/16 04:30, guoyonggang178 wrote:

[2016-04-04 09:47] goncalopp commented on #9
Did you get to try this?

[2016-04-07 21:21] goncalopp commented on #9
I'm closing this, feel free to open another issue if you are still having problems

[2016-04-07 21:21] #9 closed

[2016-05-09 03:13] Django-27 commented on #9
in OpenCV3, please use cv2.ml.KNearest_create() instead.

[2016-05-10 02:01] goncalopp commented on #9
@Django-27 Isn't that already done in the branch? `classification.py:46`

[2016-08-29 08:27] richard512 opened #10 "Changing the training image & Creating grounding files"
**Step 1) Tried to change the training image in example.py**
[code]

**Step 2) Bumped into an error**
[code]

**Step 3) Tried the solution [issue 2](https://github.com/goncalopp/simple-ocr-opencv/issues/2) suggests**
[code]

**Step 4) But an error occurred:**
[code]

[2016-08-29 10:02] goncalopp commented on #10
You're in for some debugging :)
I'll assume you've tried to ground the provided image files and that is working.

`N >= K in function kmeans`: K-means is a clustering algorithm. It's used to guess the lines of text of the image.
K, by convention, is the number of clusters, and N is probably the number of samples. I'm guessing what happened is the number of samples is too low (`ys` variable).

http

[2016-08-30 16:55] richard512 commented on #10
Actually, when attempting to create grounding for digits1.png, too.

What did you use in order to create digits1.box?

[2016-08-30 21:06] goncalopp commented on #10
Code very similar to the one on issue 2. I've tried and got it working again.

It looks like you're running `ocr.ocr()` without calling `train()` first?
If you **just** want to ground, there's no need to call either.

[2016-08-30 21:46] richard512 commented on #10
The code inside issue 2 is in the order: train, ocr, ground.

I think it would make sense to just include an actual, working example of grounding creation within example.py

[2016-08-31 06:07] richard512 commented on #10
Found a way to make box files [using tesseract](https://github.com/tesseract-ocr/tesseract/wiki/Make-Box-Files):

[code]

[2016-08-31 06:21] richard512 commented on #10
Have you ever used [WhatTheFont](http://www.myfonts.com/WhatTheFont/)?

That kind of interface where the app asks you "what characters are these?" seems to make a lot of sense for quickly and easily ensuring accuracy of letter guesses, but I haven't yet found any software except that app which does that.

[2016-08-31 08:52] goncalopp commented on #10
A quick read of the source for `ocr()` should help.
I've added `example_grounding.py`, please let me know if that helps. Instructions on interactive grounding are written to the `stdout` (command line)

[2016-08-31 10:17] richard512 commented on #10
Loving the new update. This does exactly what I've been searching for. Thank you.

[2016-08-31 13:27] richard512 commented on #10
Forked and added a few things:
https://github.com/richard512/simple-ocr-opencv

README update, added a CAPTCHA grounding example, and made a little edit to ContourSegmenter for allowing easier customization of filters.

[2016-08-31 20:06] goncalopp commented on #10
Happy that you found it useful. I did a quick read - looking good. Feel free to do a pull request once you're happy with it, I'll review it more thoroughly
Also, if you're breaking CAPTCHAs with this, please let their users know how bad they are :) Hopefully that'll improve the quality.

[2016-08-31 20:06] #10 closed

[2016-09-27 02:30] ChernyshovYuriy opened #11 "TypeError: int() argument must be a string, a bytes-like object or a number, not 'map'"
I am running "openvc3" branch and trying just to run example.py when getting:

[code]

I am on Ubuntu 14, 64 bit. OpenCV 3.1.

[2016-09-27 19:05] goncalopp commented on #11
Are you trying to run this with python3, by chance?

[2016-09-27 19:07] ChernyshovYuriy commented on #11
Ye, I do use Python 3.4. And this is not the only one error, just don't want to set all issues in one ticket.

[2016-09-27 19:10] goncalopp commented on #11
That's the issue then, this project is written in python 2.
Does that work for you?
I think making it run for python3 would not be a huge amount of work, but I don't have any plans for doing that in the near future. I'm happy to accept pull requests, though

[2016-09-27 19:12] ChernyshovYuriy commented on #11
Unfortunately, I don't have Python 2 installed.
Thanks anywhere.

[2016-09-27 22:33] goncalopp commented on #11
Python 2 is included by default in all linux distributions that I know about - it's definitely there in Ubuntu, up to the current day. You can invoke it just by typing "python" in your shell - it's the "default" version. I'll close this for now

[2016-09-27 22:33] #11 closed

[2017-03-12 18:41] zuphilip opened #13 "Open Source License?"
Can the code be used under some open source license?

Maybe, you even want to [choose a OSS license](https://choosealicense.com/) and make it explicit in the repo.

[2017-03-12 19:56] RedFantom commented on #13
You could check [here](https://github.com/RedFantom/simple-ocr-opencv/issues/2), but please note what specific commit is licensed under the AGPLv3. All code found in my fork of the repo is under this license, but only a **single** commit in this repository is.

[2017-03-12 20:18] zuphilip commented on #13
Okay, I see. Then I guess that I prefer your fork, which seems to have also some other improvements (e.g. Travis).

It might be a little confusing then (for people like me) with the two forks and only a comment in one direction...

[2017-03-12 20:21] RedFantom commented on #13
My fork was created with the intention of creating a PyPI package from it, so it can be used more easily as a library in other projects. However, I do not think that it's fit for release just yet. I hope to be working on it again soon.

[2017-03-12 20:50] goncalopp commented on #13
Let me give a bit of perspective on all this.

This code was started as an experiment - something I did to learn about OCR and machine learning, nearly 5 years ago. It eventually grew enough that I started structuring it a bit more carefully, and added some docstrings here and there, hoping it would help other people, but the reality is that **this code was never meant to be run by non-developers*

[2017-03-12 21:08] RedFantom commented on #13
If we can keep running AppVeyor, Travis-CI and codecov (all free for open-source projects), I'm all for using a single repository so people do not have to search for the code.

About Tesseract: that is indeed a good OCR solution, but the Python bindings available on PyPI are [pytesser](https://pypi.python.org/pypi/PyTesser) (pre-alpha with v0.0.1) and [tesserocr](https://pypi.python.org/pypi/tesse

[2017-03-12 21:31] goncalopp commented on #13
@RedFantom
Travis sounds good.
I'm not familiar with Appveyor and codecov.
Is Appveyor just to make sure the thing works on Windows?
As long as they don't require changes to the source, I don't mind having them. I'll probably setup `coverage.py` an `tox` as well, so I'm not dependent on having a network connection.

@zuphilip
Let us know your preferences as well

[2017-03-12 22:59] zuphilip commented on #13
Hey, thank you for all these information and the invitation to collaborate. I feel honored, but currently I can't help you here much.

I just stumbled on your project by the blog post and tried to understand the README file, reported the typos and then tried to understand a little more, but before that wanted to make sure the project is some kind of open source.

However, I think a lot of people s

[2017-03-13 07:17] RedFantom commented on #13
@goncalopp AppVeyor is for CI on a Windows platform and codecov is to keep track of the amount of code that is under unittests. Both require a .yml file, but I've already added them in my fork of the repository. The source must stay the same, as is with all testing. If you have an AppVeyor, Travis-CI and Codecov account at the ready (you can just log in using GitHub), I'll create a PR, is that OK?

[2017-03-13 10:05] goncalopp opened #14 "Merge contributions from RedFantom's fork"
Continued discussion from https://github.com/goncalopp/simple-ocr-opencv/issues/13

Fork at https://github.com/RedFantom/simple-ocr-opencv

@RedFantom
A PR sounds great, but please make sure its in a reviewable state - i.e.: formatting is separated from contributions, and ideally a small (squashed) number of commits.
If you don't have the time right now to squash/rebase everything I'll try and hav

[2017-03-13 10:30] goncalopp commented on #13
@RedFantom
Sounds good. I've created https://github.com/goncalopp/simple-ocr-opencv/issues/14 to track this, so we don't hijack this issue :)

@zuphilip
Yes, it's reasonably popular, probably because it's simple enough to understand in a hour or so :) It looks like its getting 50 views per day now. Feel free to add it to the list. I'm going to figure out a licensing model that works for me, and li

[2017-03-13 10:58] RedFantom commented on #14
@goncalopp
Most of the commits contain additions for unittests, and I wrote an `Improver`-class that uses PIL to complement the already available `ImageProcessor` classes. I also wrote a `SimpleOCR` class that does the object creation and such so the code becomes easier to use, it's not much more than a wrapper class. I wanted to do more complicated changes, but thus far I haven't really had time.

[2017-03-13 12:21] zuphilip commented on #14
It should be possible to create a PR with a lot of individual commits and review the changes as whole. E.g. here is the diff of the two branches (ignoring inline spaces changes): https://github.com/goncalopp/simple-ocr-opencv/compare/master...RedFantom:master?w=1#files_bucket . The same diff (with or without the space changes) you will see in a PR.

[2017-03-13 21:44] goncalopp commented on #14
@RedFantom
Thanks!

Yes. Don't worry about it, I'll try to recreate your changes, and let you know once I have it cleanly separated
You might want to check [this page]https://git-scm.com/book/en/v2/Git-Tools-Rewriting-History), rewriting commits is quite useful sometimes

@zuphilip
It's certainly possible, we did that a few weeks back. The problem is that the outcome is binary (merge / no merge),

[2017-03-14 11:56] RedFantom commented on #14
@goncalopp
Thank you for linking the article, I had no idea that was even possible! Reading it was very enlightening. If you are already trying to separate the changes, I guess it's better not to interfere. I hope I made my commit messages clear enough, and if you have any questions, please ask!

[2017-03-15 00:15] goncalopp commented on #14
Ok, I spent one hour trying to merge this today, and it's incredibly tricky.
I'm using `autopep8` to format the code, but it looks like the tool you used to format it does many things differently (particularly docstrings), so there's tons of conflicts

I think the easiest way to go around this is probably going back to the original commit that you based your fork on (8eeda3730), have your tool app

[2017-03-15 12:00] RedFantom commented on #14
@goncalopp
Well, I'm currently trying to separate the changes I made into four categories: added tests (branch [`tests`](https://github.com/RedFantom/simple-ocr-opencv/tree/tests)), formatting (branch [`pep8`](https://github.com/RedFantom/simple-ocr-opencv/tree/pep8)), changes to license and readme files (branch [`readme`](https://github.com/RedFantom/simple-ocr-opencv/tree/readme)) and added feat

[2017-03-15 23:58] goncalopp commented on #14
@RedFantom
Thanks!

Yes, that sounds great! I think we should start with the pep8 one, to make our lives easier. I'll take a look

I did check PyCharm before, but its not on the repositories and installation seems quite painful, unfortunately.

No worries. I think you should have a "Compare" button on your branch page - at least I see it when I visit your branches. Of course, if you don't mind usi

[2017-03-16 09:57] RedFantom commented on #14
@goncalopp
Installation of PyCharm is actually rather easy. I'm running it on Ubuntu 16.04 LTS on one of the machines I work on. You can download an archive version of PyCharm from the site for Linux and then you can use a `.sh` file to start it. Everything you need is included.

OpenCV 2 is the default, even for the newest Debian version? That significantly complicates things! OpenCV 2 is a pain

[2017-04-09 15:31] goncalopp commented on #13
This repository is now licensed under the AGPL
Thanks @RedFantom and @zuphilip for pushing to make this happen :)

[2017-04-09 15:31] #13 closed

[2017-04-09 15:37] goncalopp opened #20 "Make master compatible with both OpenCV 2 and 3"
If possible, we should merge the opencv3 branch back into master in a way that makes it work for both versions. CI needs to be configured to test both.

@RedFantom 's comment:

I'm getting '2.4.9.1' on Debian stable (Jessie), so this might Ubuntu-specific. It's annoying, but I guess we can hardcode specific values for the Ubuntu versions we know for now.

[2017-04-09 15:39] RedFantom commented on #20
Well, the one in the Ubuntu repositories is OpenCV 2, so instead of checking for OpenCV 2, we should check for OpenCV 3. I have changed this behaviour in my commits to [`versions`](https://github.com/RedFantom/simple-ocr-opencv/tree/versions)-branch on my fork of the repository. It's ready for merging after #18.

[2017-04-09 15:48] goncalopp commented on #20
True, it's cv 2.4 even for Ubuntu 16.10. I've merged #18, feel free to rebase and submit a PR

[2017-04-09 20:02] zuphilip commented on #13
🎉  Thank you both for the hard work during the last weeks!

[2017-05-01 12:21] RedFantom commented on #14
Next up is Python 3 support, I guess? Currently, I've got a branch [`python3`](https://github.com/RedFantom/simple-ocr-opencv/tree/python3) for Python 3 compatibility. I ran the `2to3` utility included with PyCharm and made some more changes, but there appears to be some kind of encoding issue, I think? It is the same as I encountered before on my first attempt with a lot more changes, namely [wit

[2017-05-02 20:34] goncalopp commented on #14
Your python3 branch's tests pass for me on python 2.
How are you actually testing on python3? Does your distro package python3-opencv? Or are you installing it manually?

Thanks for the packaging! I'm happy with the name simpleocr, but we should probably not use version `1.0.0` until we're done messing with it :) I might cherry-pick your changes, or feel free to submit a PR if you'd like.

[2017-05-03 09:11] RedFantom commented on #14
Yes, the tests pass just fine under Python 2, but this is not the case for Python 3. I'm trying to test the Python 3 version on Windows 7 64-bit with Python 3.6 64-bit with the `numpy` and `opencv-python` PyPI packages. Also, I have attempted to test the changes [on Travis-CI](https://travis-ci.org/RedFantom/simple-ocr-opencv/jobs/227605717), but the Python 3 environments fail to activate. It appe

[2017-05-03 21:31] goncalopp commented on #14
I don't think python3 on Travis would work at all with the current config, even if it didn't get stuck on getting python3. `apt-get install python-opencv` only installs opencv bindings for python2, not python3.
I'll try to take a look at it when I have a bit of time

[2017-05-26 21:37] RedFantom commented on #14
So, I had some time again today (finally!), and I looked into the whole Python 3 compatibility further. The only problem is the OpenCV installation, it seems. When installing OpenCV-Python through pip on Python 3, it does work, but surprisingly, different results are returned for various functions. I noticed this when moving my GSF Parser code base to Python 3, as it uses template matching. It is

[2017-06-02 17:42] RedFantom commented on #14
Today I had my Linux system up and running, and decided to install OpenCV 3 for Python 3. Unfortunately, I didn't have any luck when compiling my own version, even when renaming the resulting shared objects manually it wouldn't import `cv2`. A wheel package is provided for Linux through `pip` though, but that has the same problem as on Windows. Do you think it's time to get into looking into issue

[2017-06-02 19:59] goncalopp commented on #14
So this happens on Linux as well? I'll try to take a look then.
I would expect it's a issue on our side, not OpenCV.
Is there anything in particular needed to reproduce it? Just running the existing unit tests?

[2017-06-03 08:28] RedFantom commented on #14
@goncalopp Yes, I thought so at first as well, but unfortunately the results for Linux and Windows are the same with OpenCV 3 and Python 3 if the package from PyPI is used. The only thing I haven't successfully tried yet is compiling from source and then installing it, but my suspicion is only strengthened by the fact that I'm experiencing similar problems in my [GSF Parser](https://github.com/Red

[2017-06-03 15:50] goncalopp commented on #14
Ok, I can reproduce it.
Out of curiosity, are you able to run example.py?
I'm getting an error on cv2.imshow, about missing libraries, it seems
like the library is being installed pre-compiled with pip?

[2017-06-03 16:24] RedFantom commented on #14
@goncalopp The library OpenCV is actually written in C++, and by using `pip` you install a wheel-archive, with a pre-compiled `.so` file on Linux and `.dll` file on Windows suitable for your system and Python installation. I do indeed get the following error when running `example.py`:
[code]
I did install `libgtk2.0-dev` when compiling my own OpenCV, but it didn't install correctly, so I used the

[2017-06-05 15:29] goncalopp commented on #14
Actually, reading the package description on PyPi, they make it clear:
- for example ``cv2.imshow()`` will not work (not compiled with GTK+ 2.x
or Carbon support)

Which makes it quite useless - nothing related to UI will work, and it's
really hard to diagnose anything without seeing what's happening
I was also trying this on Ubuntu 17.04, but the opencv package on the
repository seems to be versi

[2017-06-05 15:35] RedFantom commented on #14
@goncalopp It does, actually, because the support for `cv2.imshow()` is automatically built on Windows. OpenCV 3 is already supported, don't you mean Python 3?

Even if I compile my own `opencv-python` on Ubuntu, I still get the wrong results (I did compile it with GTK 2.0+ support), so it must be a deeper issue than just missing dependencies.

[2017-06-11 02:15] goncalopp commented on #14
@RedFantom
I took a look at this today and discovered what the problem is.
Classification is, in fact, working correctly. As is OpenCV.

It took me over an hour, but here's the bug, in `segmentation_aux.py`:
`order = mlw * (s[:, 1] / mlh) + s[:, 0]`
`/` is meant to be integer division. In python 3, this needs to become `//`.
Since the segment order is different, the returned characters are in the

[2017-06-11 08:14] RedFantom commented on #14
@goncalopp Awesome! It works now indeed :) . Thank you for figuring it out! If #23 gets merged, then my only other goal was to package the project with `distutils` like I had already given a shot in the [`RedFantom/distutils`](https://github.com/RedFantom/simple-ocr-opencv/tree/distutils) branch, and then optionally upload to PyPi. I'll try to finish the packaging in the branch today.

[2017-06-11 09:20] RedFantom commented on #20
This issue can be closed, right? We've got OpenCV 3 support and OpenCV 2 support at the same time :) .

[2017-06-11 14:35] goncalopp commented on #20
True - thanks!

[2017-06-11 14:35] #20 closed

[2017-07-06 20:47] goncalopp opened #25 "Fix opening of files for non-test files"
Migrated from PR 24

It seems the current code for `files.py` doesn't allow loading specific (non-test) files given a relative path (tested on linux).

There may be more issues at well. @RedFantom can you elaborate on the issues you found?

[2017-07-07 10:04] RedFantom commented on #25
[This](https://travis-ci.org/RedFantom/simple-ocr-opencv/builds/251092042) is an example where it goes wrong with the code in `distutils` currently. This behaviour was first observed on Windows, and then I pushed to Travis to test on Linux, where the same thing apparently goes wrong. The file is copied to the working directory, then the `simpleocr` folder is removed to change from a local import t

[2017-07-07 18:21] goncalopp commented on #25
Thanks for clarifying @RedFantom !
I don't think we can use `FileNotFoundError`, as it's only defined on python3. We can use `IOError`, though.

I think it might be a good idea to decouple the fuzzy-file-finding mechanism from the ImageFile class, and have the latter only take correct paths on `__init__`.
Let's fix this once we have the packaging PR merged in, to avoid merge conflicts

[2017-07-07 21:11] goncalopp commented on #25
I've pushed a temporary branch with 024063bdce4c7ea7a9bb4a51eb9e535d7a957307
@RedFantom can you please check if this fixes the issue for you?

[2017-07-08 16:45] RedFantom commented on #25
While these changes do fix the issue for me, I actually think that it would be more appropriate to give the `ImageFile` class a complete overhaul, to improve compatibility with `Pillow` (as it's the most used Python library with images), but also just to allow the user to work with images that are actually not stored on disk but only in memory. My interpretation of such a class looks like [this](h

[2017-07-08 17:44] goncalopp commented on #25
I like the idea of being able to work with images in memory without a corresponding file - this is quite useful if you're just doing the classification part in real time. Getting images from pillow buffers is also nice.

I have a few questions about your implementation, but it's probably better to handle them on a PR, so we keep things organized.

I went through your suggestions on the commit, and

[2017-07-08 17:45] #25 closed

[2017-07-08 18:04] goncalopp commented on #14
@RedFantom I think all the original changes from your fork are in? Can we close this?

[2017-07-08 18:26] RedFantom commented on #14
Yes, they are indeed all in now. Thank you for merging them all 😄

[2017-07-10 08:15] goncalopp commented on #14
Thank you for taking the time to contributing the changes!

[2017-07-10 08:15] #14 closed

[2017-10-13 10:10] MarkRatFelt opened #27 "Different Number of lines"
Hi!

I really appreciate this project. I tested it with the examples and it works pretty good.
I'm actually quite interested in getting the lines ```showing line starts and ends (waiting for input)``` because having the lines, I could experiments with LSTMs, which I already use.

The problem is that when I use other image, I get an error

I was debugging, and somehow
[code]

are not the same (I me

[2017-10-13 10:28] MarkRatFelt commented on #27
With a png image it works "fine."

So, I'm closing the issue.
However, the lines were not good.

![false_lines](https://user-images.githubusercontent.com/18442189/31542317-d17e415a-b011-11e7-96ed-6fefe4d697a8.png)

But I can try to think a way to fix it :) However, with pics like that, the job is pretty hard.

[2017-10-13 10:28] #27 closed

[2017-10-13 10:59] RedFantom commented on #27
While the error message is not very descriptive, as the library itself can't determine exactly how it was caused, I had this issue when using images that were not as high-quality as the example ones.

The library depends on (if I remember correctly, it's been a while) OpenCV Feature Matching. This means that a few things are important for the images you're trying to use:

- All symbols must be cle

[2017-10-13 11:36] MarkRatFelt commented on #27
Hi! Thanks for your answer.

Yeah sure, I use the alpha version of tesseract, which implements the LSTM from Ocropus. And the result is actually not bad. However, the result could be improved if the lines or bunch of texts are found and deskewed, for example.

In the same pict, if I run "plain Tessract" I get this result:

[code]

which is fine.

But if I get this:

![tmp](https://user-images.gith

[2017-10-13 23:07] goncalopp commented on #27
Hi MarkRatFelt,

It's not doable at all, I'm afraid.

RedFantom already mentioned the most important point: this is a educational tool. It's meant to be easy to understand and tinker with, *not* to perform OCR with high accuracy.

If I recall correctly, the current line detection algorithm makes the following assumptions:

 - All lines are strictly horizontal (aligned pixel grid, non-warped image)

[2017-10-18 06:04] hbwst888 opened #28 "how to train it?"
how to train it?

[2017-10-18 06:39] RedFantom commented on #28
How about looking in the [wiki](https://github.com/goncalopp/simple-ocr-opencv/wiki/Grounding)?

Elaboration: Answers can only be as good as your questions. If you have a more specific question, after reading the documentation, I'll be glad to help you find a solution.

[2018-03-07 17:10] klorophyl opened #29 "Should add requirements.txt"
Awesome project. You should add your dependencies as numpy has deprecated some of your operators

[2018-03-07 20:23] goncalopp commented on #29
Thanks Gabriel,
Would you mind providing a log of the numpy errors you're seeing?
I haven't used this project in a while, so I don't have a updated dependencies list I can dump, but I'll look into fixing the root issue

[2018-03-09 10:46] RedFantom commented on #29
@goncalopp I can reproduce the issues with `numpy==1.14.0`. The specific error traceback is:
[code]
I went back a few versions of `numpy`, but the issue occurs in all of them. I think it might have been deprecated when they went to `1.0.0`?

In any case, the issue can can be easily resolved by replacing the `-` in line `75` of `simpleocr/segmentation_filters.py` by a `^`.

I pushed my fix to branc

[2018-03-10 00:06] goncalopp commented on #29
Thanks for reproducing and fixiing this RedFantom! I've cherry-picked your fix :)
With the fix in there's no need to recommend specific dependency versions, everything should work with latest versions out-of-the-box

[2018-03-10 00:06] #29 closed

[2018-05-29 05:33] nuclearWinters opened #30 "error with the operator "-" in code"
TypeError: numpy boolean subtract, the `-` operator, is deprecated, use the bitwise_xor, the `^` operator, or the logical_xor function instead.

class ContainedFilter(Filter):
    """desirable segments are not contained by any other"""

    def _good_segments(self, segments):
        m = contained_segments_matrix(segments)
        return (True - numpy.max(m, axis=1))

Should I install something or

[2018-05-29 06:07] #30 closed

[2018-05-29 06:09] nuclearWinters commented on #30
srry I just ran it on the command promp and worked

[2018-06-12 08:17] mit456 commented on #30
Hello,

I am getting the same error what do you mean by running on command prompt? I ran `python3 example_grounding.py` from my command line and it is failing?

[2018-06-12 09:07] RedFantom commented on #30
@mit456 This is the same issue as #29 . Numpy has deprecated the `-` operator for arrays. @goncalopp did post he cherry-picked the fix, but I can't find it on any pushed branches. You can use a `numpy` version of `1.13.0` or earlier (if I'm not mistaken), or you could cherry-pick the changes from my fork of the repository from the `numpy` branch.

[2018-06-13 17:44] #28 closed

[2018-06-13 17:44] goncalopp commented on #30
@RedFantom
Thanks!
You're absolutely right, the commit isn't there, apparently I cherry picked it back to master on 09/03, but forgot to push to github - I've fixed that now :)

@mit456
Can you please try the most recent version in the `master` branch and see if the problem goes away?

[2018-06-14 06:34] mit456 commented on #30
@goncalopp It works, I tested it.

[2018-06-14 08:56] goncalopp commented on #30
@mit456 Great, thanks!

[2018-10-26 07:11] eddex opened #31 "numpy boolean subtract error in segmentation_filters.py"
This is the output l get when running example.py with numpy 1.14.0:
[code]
As stated in the error message, the problem is located in segmentation_filters.py on line 27.
When l change the line from this
[code]
 to
[code]
it works. However l'm not sure if this is correct.

[2018-10-30 15:28] letarg0 opened #33 "is possible break this captcha?"
https://github.com/aero2a/kape-

i can generate separate symbol but how detect all?

[2018-10-31 20:35] goncalopp commented on #33
No, this is not the right project for that purpose.

[2018-10-31 20:35] #33 closed

[2018-11-09 09:12] #31 closed

[2018-12-23 10:39] Jambon1510 opened #34 "Accuracy exception"
**Context**
Hello
I tried the below image
![passwordpad](https://user-images.githubusercontent.com/19289018/50382728-030b6f00-06e1-11e9-82d2-71f34e488ed3.png)

with Python 3

**current behavior**
When grounding via example_grounding.py the image above  then launching example.py by the same above image, I got below exception

[code]

**expected behavior**
it should not trigger the exception except

[2018-12-23 18:37] goncalopp commented on #34
What that exception is telling you is that the number of recognized segments is different from the expected. In this case, it expected 10 segments from grounding (which makes sense for the image), but it detected 18 in the image. If you used the algorithm for the grounding (as opposed to manually calculating rectangles), then it's likely that it's due to different settings used when running both.

[2018-12-25 07:47] Jambon1510 commented on #34
Ok got it thanks, I managed to make it work when I put any char on the 8 non number (q for example, I
did put a space before and I had the description issue).

However it still not working whenever the image is different and the number are in a different place. Let me open another ticket for that

[2018-12-25 07:47] #34 closed

[2018-12-25 16:34] Jambon1510 opened #35 "get the zone detection in the order"
**current behavior**
Some of image which needs to be detected have zone detection appearing in different orders than what we see (from left to right and top to bottom)
Let's take this example below
![p0](https://user-images.githubusercontent.com/19289018/50424779-03546780-08a5-11e9-8920-7a0da89898a1.png)

The number 3 will arrive in the results before 7 whereas it should appear before 6

When I tr

[2018-12-25 19:42] goncalopp commented on #35
I'm not sure where the "q" are coming from, but in terms of the order of segments you might have to tune the parameters in `SegmentOrderer` (`{"max_line_height": 20, "max_line_width": 10000}`)

Can you please attach the code you're using for the OCR and grounding and the commit you're at?

[2018-12-26 02:57] Jambon1510 commented on #35
I tried tuning max_line_height without success

The code I am using is the latest commit (5e29b25) and I am using both  example_grounding.py and example.py (I have only renamed the file inside it)

PS: I have just put a 'q' for the unknown char, I have realized later than I should put '<'
(I can't see the instruction as I have heaps of below message I still haven't managed to fix
[code]

[2018-12-26 18:40] goncalopp commented on #35
I've used the image you attached in this thread, and the code on 5e29b25a22732c146155ee1f49c255b5e0b5e6ee, and using `example_grounding.py` and `example.py` (unchanged except for the image filename)and I'm getting different results:

![image](https://user-images.githubusercontent.com/100023/50454089-1581e480-093d-11e9-865c-58fd011383cc.png)

In this case, it mostly works. The `5` and the 2 are get

[2018-12-27 13:51] Jambon1510 commented on #35
Indeed (cf screenshots below)

OS:
_lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.1 LTS
Release:	18.04
Codename:	bionic_

python version module:
 _python3 --version
Python 3.6.7_

python version module:
_pip3 freeze | grep -E 'opencv|numpy'
numpy==1.15.4
numpydoc==0.7.0
opencv-python==3.4.4.19_

Sure, here you go:
![screenshot from 2018-12-27 21-37-5

[2018-12-27 19:37] goncalopp commented on #35
Thanks! I'm going to install your Ubuntu version and give it a try
In the meantime, if you want to take a look to see if everything is working as intended, you might want to run the unit tests with `python setup.py test`, and `python3` as well

[2018-12-28 15:12] Jambon1510 commented on #35
Thanks a lot for your help, let me know what are your results with similar configuration.

I have one failure as below when running the unit tests

[code]

[2019-01-10 15:33] Jambon1510 commented on #35
Hi
Any chance to reproduce the issue I am encountering?

[2019-01-11 11:03] goncalopp commented on #35
Hi @Jambon1510
Sorry, for the the delay, I'm a bit short on time lately
I've reproduced the issue in Ubuntu 8.04 using python2. I get the exact same results as you, for the segmentation and the tests. I haven't had time to dig into the cause yet

Funnily enough, the provided example image (for pi) works well, and the unicode one seems to only have trivial errors. What's the copyright status of you

[2019-01-12 10:06] Jambon1510 commented on #35
Thanks a lot fro your time
Weirdly on my side I can't get the result I had in the first place. I have now below output which is still incorrect:
[code]

same if I tried to ground again with 'q' as unknown character as I did before (I will just have a 'q' instead of '<' in the output)
Also I check again the versions and they are the same as I put in the comment on the 27 of December 2018.

On my Pi

[2019-01-13 19:35] goncalopp commented on #35
So, I was experimenting with this a bit more, and I think the reason the order and line finder are getting confused is just because they're detecting the edges of the background. The algorithm doesn't really do any form of background removal, so you'll have to script that out if you're interested in doing this kind of image.

Using simple thresholding, I get this:

![new_image](https://user-images

[2019-01-16 15:32] Jambon1510 commented on #35
Ok thanks a lot
Do you mind helping me to understand how to use your code to apply the image processing?
I am trying to use your code by changing in ocr.py

below
[code]
to

[code]

but same result, I guess I am doing something wrong

[2019-01-16 20:26] goncalopp commented on #35
Are you sure the result is the same?

If you check here:
https://github.com/goncalopp/simple-ocr-opencv/blob/8611fc9e1054033b53478186f072497647b6be63/simpleocr/segmentation.py#L82

`CountourSegmenter` does a few more things than the raw one - blurring the original image and ordering the outputed segments.

In any case, you should do the image processing outside of this project code - on your own p

[2019-02-02 07:40] Jambon1510 commented on #35
Ok I have only managed to make it black and white  but the order is still not respected.
![nocontour](https://user-images.githubusercontent.com/19289018/52161300-fa558200-26fd-11e9-9875-5b6cd0b7a3d0.png)

I have then decided to proceed to the horizontalization of the image as below
![trifecta](https://user-images.githubusercontent.com/19289018/52161301-fcb7dc00-26fd-11e9-8d28-b6436ad5ac4e.png)

Wh

[2019-02-02 15:11] goncalopp commented on #35
I think the reason you're getting the wrong order without horizontalization is that your `adaptiveThreshold` is too conservative - you can still see the squares around the numbers, and ideally those should be gone before you pass the image to the OCR. I'd try and change `C` until those are gone.

In any case, I'm glad you got it to work! :) I'm closing this ticket for now, but feel free to comment

[2019-02-02 15:11] #35 closed

[2019-02-23 13:28] Jambon1510 commented on #9
Might not be the case at that time but now with a opencv 4 version, I got the issue cause condition is ==3

[code]

[2019-02-24 13:52] Jambon1510 opened #36 "OpenCV 4.0"
Hi Goncalo,
any plan to make it compatible with openCV 4.0?
I was integrating your code in a new virtualenv which took the last openCV version 4.0 and I came up with below error after tweaking the version check

[code]

[2019-02-25 10:02] goncalopp commented on #36
Hi Jambon,
Is cv4 the default on your distro at this point, or are you just experimenting?
I'm not sure I'll have the time at the moment to setup a new environment, but I'm happy to help you debug the issue. Can you post your OS version, and any changed or manually installed packages?

Running the unit tests would be a good start to pinning down what changed (`python setup.py test`).
From there, i

[2019-02-26 15:07] Jambon1510 commented on #36
Hi Goncalo,
That's the default when creating a new virtualenv but I guess I can downgrade but have not try it yet.

First run of tests (no modifcations)
[code]

Second run of tests (modification in classification.py to the same code whether it is version 3 or other versions)

[code]

[2019-02-26 23:43] goncalopp commented on #36
Thanks Janbon,

Ideally virtualenv should be hermetic, so specifying a version is probably the right thing to do. Which package are you using, `opencv-python` from pypi? If so, please note that it's a unofficial precompiled release (see [this thread](https://github.com/goncalopp/simple-ocr-opencv/pull/24#discussion_r122730424) for previous discussion on it)

With that being said, if you want to wo

[2019-02-28 15:07] Jambon1510 commented on #36
Seems cv4 ok with `python setup.py test` as as example.py with classification.py modified

[code]

I will try to do my first PR if I find a bit of time
Regarding the code integration I am now facing another issue I need to tackle (will do another ticket if I don't find the solution `Exception: 0 segments after filter SmallFilter`)

I have used pip install so I guess it is unofficial one, is that c

[2019-03-01 00:20] goncalopp commented on #36
Great! We still have the unicode error, but that seems unrelated to cv4.

`0 segments after filter SmallFilter` probably means that you're trying to classify text that is smaller (pixel size) than the filter is configured to process, you'll have to change the parameters

if you did `pip install opencv-python`, yes, it's a unnoficial binary. If you want a pre-built binary, using your distribution's

[2019-03-12 15:43] Jambon1510 commented on #36
ok thanks Goncalopp
I am trying my first commit now

[2019-03-17 00:43] goncalopp commented on #36
After the PR, I guess we can close this?

[2019-03-17 03:02] Jambon1510 commented on #36
Yes, thanks!

[2019-03-17 03:02] #36 closed

[2019-04-06 10:56] ShwetaLalwani commented on #9
How to install OpenCV 4?

[2021-07-17 21:07] clixx-io opened #38 "Example program (example.py) crashing at first run under python 3.9 windows"
C:\users\david\simple-ocr-opencv\simpleocr\__init__.py:28: SyntaxWarning: "is" with a literal. Did you mean "=="?
  elif sys.platform is "win32":
showing after BlurProcessor (waiting for input)
showing ContourSegmenter contours (waiting for input)
showing image after segmentation by RawContourSegmenter (waiting for input)
showing segments filtered by LargeFilter (waiting for input)
showing segment

[2021-08-08 08:48] ituitis-kayaa18 commented on #38
same, did you able to solve it?

[2022-04-16 09:23] rupert-sch commented on #38
Hello goncallop,

I managed to repair the cv2.line problem by PR #39. Nevertheless, the program runs into more problems under python 3.9:
The next one is in ocr.py, line 30:
[code]
Pretty similar in example_grounding.py
[code]
Probably all locations `map(unichr, classes)`. Do you see a solution for these?
Best regards, Rupert

[2022-04-16 22:10] goncalopp commented on #38
It's been a while, so I don't exactly remember what the numpy array
types/shapes of "classes" are, but ultimately you need to convert it to
a string or list of characters.

The code is still in python2.

`unichr` is just `chr` in python3.

The array conversion problem might have several causes.
`print(type(classes)); print(classes.shape); print(classes.dtype)` will
give you valuable debug informat

[2022-04-18 07:22] zhixuanli commented on #38
Hi everyone, you can change the code in `ocr.py` into this:

[code]

And this is my output:
[code]

[2022-04-23 10:39] rupert-sch commented on #38
Hi @zhixuanli,

Thank you! It works for me, too, but I don't know why: My knowledge of Python, CV and OCR is by far too limited...

I came to this program because I want to read out photos like these:
![7seg1](https://user-images.githubusercontent.com/40740682/164890721-6977143a-d665-44d5-b569-e95368d9a228.png)

As far as I understand the processes I need to train and "ground" the picture. Obvious